.rank-img {
  width: 16%;
}

.tier-img {
  width: 50%;
}

.rank-organizer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::ng-deep .p-card-style {
  border: 1px solid var(--main-color);
}
