::ng-deep .login-btn {
  margin-top: 20px;
  justify-content: flex-end;
}

.right-align {
  justify-content: flex-end;
}




.showSummoner {
  align-items: center;
  flex-direction: column;
}

.vertical-align {
  align-items: center;
}
