::ng-deep .login-btn {
  margin-top: 20px;
  justify-content: flex-end;
}

.right-align {
  justify-content: flex-end;
}




.showSummoner {
  align-items: center;
  flex-direction: column;
}


.d-col {
  align-items: flex-end;
  flex-direction: column;
}

.bold {
  font-weight: bold;
}

.content {
  height: calc(100vh - 105px);
  display:flex;
  justify-content: center;
  align-items: center;
}

.p-grid {
  width: 100%;
}

