::ng-deep .login-btn {
  margin-top: 20px;
  justify-content: flex-end;
}

.right-align {
  justify-content: flex-end;
}


.profile-icon {
  width: 30%;
  border-radius: 50%;
}

.showSummoner {
  align-items: center;
  flex-direction: column;
}

.vertical-align {
  align-items: center;
}
