.text-center {
  text-align: center;
}


.experience {
  background: url('./assets/img/exp.png');
  background-size:contain;
  height: 50px;
  width: 50px;
  display: block;
}

.profile-icon {
  width: 30%;
  border-radius: 50%;
}

* {
  font-family: 'Roboto', sans-serif;
}
